.map-and-btns {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  margin-bottom: 10px;
}

button {
  margin: 3px;
  padding: 7px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-marker-cluster > span {
  border: 2px blue solid;
  border-radius: 50%;
  background-color: white;
  padding: 50%;
  font-weight: bold;
  font-size: 1rem;
}
