body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App h2 {
  text-align: center;
  padding-top: 60px;
  color: rgb(57, 57, 57);
  font-size: 2.4rem;
}

.map-and-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  height: 700px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  height: 60%;
  width: 40%;
}

.data-grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 75px);
  grid-template-areas:
    "title title"
    "image type "
    "image rating";
  margin: 0 10px;
}

.title {
  grid-area: title;
  font-size: 1.4rem;
  text-align: center;
  align-self: flex-start;
}

.table-image {
  height: 150px;
  width: 150px;
  grid-area: image;
  justify-self: center;
  align-self: center;
}

.type {
  grid-area: type;
  height: 100%;
  justify-self: center;
}

.rating {
  grid-area: rating;
  height: 100%;
  justify-self: center;
}

.map-and-btns {
  height: 60%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  display: flex;
  margin-bottom: 10px;
}

button {
  margin: 3px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
